__pycache__/
*.py[cod]
*$py.class
*.so

venv/

.env
dist/
build/

data/raw/*.json
data/raw/*.csv
data/processed/*.csv
data/warehouse/*.csv
data/quality_reports/*.json

logs/
*.log

.pytest_cache/
htmlcov/
.coverage

*.ipynb_checkpoints/
.DS_Store

